body{
    padding: 0px;
    margin: 0px;
    background-image: url('../img/im1.jpg');
    color: white;
    font-family: 'Baloo Bhaijaan 2', cursive;
}
.left{
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    left: 60px;
    top: 20px;
}
.mid{
    /* border: 2px solid rgb(89, 179, 240); */
    width: 36%;
    display: block;
    margin: 20px auto;
}
.right{
    /* border: 2px solid rgb(140, 245, 79); */
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 20px;
}
.navbar li{
    display: inline-block;
    font-size: 20px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 20px 10px;
}
.navbar li a:hover, .navbar li a.active{
    color: rgb(80, 231, 211);
    text-decoration: underline;
}
.left img{
    width:120px ;
    height: 60px;
    filter: invert(100%);
}
.left div{
    text-align: center;
    line-height: 20px;
    font-size: 20px;
}
.btn{
    padding: 4px 4px;
    margin: 0px 9px;
    background-color: black;
    color: white;
    border: 2px solid rgb(236, 26, 156);
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Baloo Bhaijaan 2', cursive;
}
.btn:hover{
    background-color: rgb(247, 82, 82);
}
.container{
    border: 2px solid blue;
    margin: 100px 81px;
    width: 33%;
    padding: 8px 15px;
    border-radius: 20px;
}
.group input{
    margin: 11px auto;
    text-align: center;
    font-size: 25px;
    display: block;
    padding: 0px;
    width: 420px;
    border: 2px solid black;
    border-radius: 8px;
    font-family: 'Baloo Bhaijaan 2', cursive;
}
.container h1{
    text-align: center;
}
.group .btn{
    display: block;
    margin:  20px auto;
    width: 80%;
}
